:host {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  width: 100%;
  height: calc(100vh - 145px);
  max-height: calc(100vh - 145px);
}

.container {
  position: relative;
}
.loading-message {
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

app-messages-window {
  width: 100%;
}

.input-bar {
  max-width: 100vw;
  padding: 16px 16px 0;
  height: 72px;
}
.input-bar mat-form-field {
  width: 100%;
}
.action-buttons {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

.user-menu-title {
  font-weight: 700;
  font-size: 14px;
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.users-list button, .conversations-list button {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  text-align: start;
  mat-icon {
    opacity: 0.65;
  }
}
.users-list {
  position: relative;
  height: 100%;
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  overflow: hidden;
  overflow-y: auto;
}
.v-scroll {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.v-scroll button {
  padding-left: 12px;
}
.v-scroll:first-child {
  margin-top: 12px;
}
.v-scroll:last-child {
  margin-bottom: 12px;
}

.conversations-list {
  position: relative;
  width: 216px;
  min-width: 216px;
  max-width: 216px;
  padding: 12px;
  overflow: hidden;
  overflow-y: auto;
}

.hidden {
  display: none;
}
