<div class="container" fxFlexFill fxLayout="row" fxLayoutAlign="stretch stretch">

  <app-messages-window
    #messageWindow [ngClass]="{'full-message-window': !showRightPanel}"></app-messages-window>

  <app-youtube-video #videoPlayer></app-youtube-video>

  <button mat-icon-button *ngIf="showRightPanel" class="close-panel mat-elevation-z6" color="primary"
          (click)="toggleRightPanel()">
    <mat-icon>arrow_forward</mat-icon>
  </button>

  <div class="conversations-list mat-elevation-z3"
       *ngIf="!showUserList || !showRightPanel"
       [ngClass]="{'right-panel-show': showRightPanel, 'right-panel-hide': !showRightPanel}"
       fxLayout="column" fxLayoutAlign="stretch stretch">
    <strong class="title">Messaggi</strong>
    <div style="padding-left: 12px; padding-right: 12px;">
      <div class="chat-button" *ngFor="let c of boundChatList | sortBy:'desc':'timestamp'">
        <button mat-raised-button (click)="onChannelButtonClick(c)"
                [disabled]="c === chat()"
                [color]="c === chat() ? 'primary': ''"
                [matBadge]="c.stats.messages.new"
                [matBadgeHidden]="c.stats.messages.new === 0"
                matBadgePosition="after" matBadgeColor="accent"
                fxLayout="row" fxLayoutAlign="start center">
          <mat-icon [color]="getColor(c)" [innerText]="getIcon(c)"></mat-icon>
          <span>{{c.target().name}}</span>
        </button>
      </div>

    </div>
  </div>

  <div class="users-list mat-elevation-z3"
       *ngIf="showUserList || !showRightPanel"
       [ngClass]="{'right-panel-show': showRightPanel, 'right-panel-hide': !showRightPanel}"
       fxLayout="column" fxLayoutAlign="stretch stretch">
    <strong *ngIf="currentChatInfo && currentChatInfo.name" class="title">Utenti</strong>
    <cdk-virtual-scroll-viewport *ngIf="chat().hasUsers()" class="v-scroll" itemSize="38" minBufferPx="200" maxBufferPx="400">
      <button mat-button
              *cdkVirtualFor="let u of chat().users"
              (click)="onUserClick(userMenu, u)"
              [matMenuTriggerFor]="userMenu"
              fxLayout="row" fxLayoutAlign="start center">
        <mat-icon [color]="u.color" [innerText]="u.icon"></mat-icon>
        <span [innerText]="u.name"></span>
        <mat-icon *ngIf="u.hasPlaylist()">music_video</mat-icon>
      </button>
    </cdk-virtual-scroll-viewport>
  </div>

  <mat-menu #userMenu="matMenu" xPosition="after">
    <div class="user-menu-title" *ngIf="currentUser">{{currentUser.name}}</div>
    <!-- open a chat with this user -->
    <button mat-menu-item (click)="onUserMenuChat()">
      <mat-icon color="primary">message</mat-icon>
      <span>Chat</span>
    </button>
    <!-- collection of media links shared by the user -->
    <button *ngIf="currentUser" mat-menu-item [disabled]="!currentUser.hasPlaylist()" (click)="onUserPlaylistClick(currentUser)">
      <mat-icon [color]="currentUser.playlist.length > 0 ? 'primary' : ''">library_music</mat-icon>
      <span>Playlist</span>
      <span>&nbsp;({{currentUser.playlist.length}})</span>
    </button>
    <!-- turn on/off notifications for messages from this user -->
    <button mat-menu-item disabled>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

</div>

<div class="input-bar mat-elevation-z6"
     [ngClass]="{ 'full-width': screenWidth < 640 || !showRightPanel }"
     fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="8px">

  <mat-form-field style="width: 100%">
    <textarea matInput placeholder="{{ircClient.config.nick}}  &rarr;  {{chat().info.name}}" class="message-input"
          maxlength="300"
          fxFlex="1 1 100%"
          [(ngModel)]="userMessage"
          (keydown.enter)="onEnterKey($event)"
          (blur)="onTextInputBlur($event)"
          (focus)="onTextInputFocus($event)"></textarea>
    <button mat-icon-button>
      <mat-icon color="primary" (click)="onOpenEmojiClick($event)">sentiment_satisfied_alt</mat-icon>
    </button>
    <button mat-icon-button fxAlign="end" (click)="onEnterKey($event)">
      <mat-icon color="primary">send</mat-icon>
    </button>
  </mat-form-field>

</div>

<div class="loading-message" *ngIf="isLoadingChat" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner>Loading</mat-spinner>
</div>
