:host {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  width: 100%;
  height: calc(100vh - 160px); /* 160px = top bar height 64 + bottom bar height 96 */
  max-height: calc(100vh - 160px);; /* 160px = top bar height 64 + bottom bar height 96 */
}

button mat-icon {
  margin-left: 6px;
  margin-right: 6px;
}

.container {
  position: relative;
}
.loading-message {
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

app-messages-window {
  transition: all .3s ease-in-out;
  width: 100%;
  margin-right: 240px;
}

.input-bar {
  max-width: 100vw;
  padding: 16px 16px 24px;
  height: 96px;
}
/*
.input-bar mat-form-field {
  width: 100%;
  padding-right: 24px;
}
*/

.action-buttons {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

.close-panel {
  border: solid 1px gray;
  position: absolute;
  right: 220px;
  top: -24px;
  background: white;
  opacity: 0.9;
  z-index: 100;
}

.user-menu-title {
  font-weight: 700;
  font-size: 14px;
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.users-list {
  position: absolute;
  transition: all .3s ease-in-out;
  right: 0;
  opacity: 0.9;
  background: whitesmoke;
  border-bottom: solid 1px gray;
  height: 100%;
  width: 240px;
  min-width: 240px;
  overflow: hidden;
  overflow-y: auto;
}
.v-scroll {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.v-scroll button {
  padding-left: 12px;
}
.v-scroll:first-child {
  margin-top: 12px;
}
.v-scroll:last-child {
  margin-bottom: 12px;
}

.conversations-list {
  position: absolute;
  transition: all .3s ease-in-out;
  right: 0;
  opacity: 0.9;
  background: whitesmoke;
  border-bottom: solid 1px gray;
  height: 100%;
  width: 240px;
  min-width: 240px;
  overflow: hidden;
  overflow-y: auto;
}

.users-list button, .conversations-list button {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  text-align: start;
  mat-icon {
    opacity: 0.9;
  }
}

.full-message-window {
  margin-right: 0 !important;
}
.right-panel-show {
  margin-right: 0 !important;
}
.right-panel-hide {
  margin-right: -240px !important;
}

.chat-button {
  margin-top: 18px;
  margin-bottom: 18px;
}

.hidden {
  display: none;
}

@media only screen and (max-device-width: 640px) {
  /* Styles */
  app-messages-window {
    margin-right: 0;
  }
  .users-list {
    margin-right: -240px;
  }
  .conversations-list {
    margin-right: -240px;
  }
}

