<div class="container" fxFlexFill fxLayout="row" fxLayoutAlign="stretch stretch">

  <app-messages-window
    #messageWindow [ngClass]="{'full-message-window': !showRightPanel}"></app-messages-window>

  <app-youtube-video #videoPlayer></app-youtube-video>

  <button mat-icon-button *ngIf="showRightPanel" class="close-panel mat-app-background" color="primary"
          matTooltip="Nascondi pannello"
          (click)="toggleRightPanel()">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>

  <div class="conversations-list mat-app-background mat-elevation-z4"
       *ngIf="!showUserList || !showRightPanel"
       [ngClass]="{'right-panel-show': showRightPanel, 'right-panel-hide': !showRightPanel}"
       fxLayout="column" fxLayoutAlign="stretch stretch">
    <strong class="title">Messaggi</strong>
    <div *ngFor="let c of boundChatList | callback: filterChat" fxLayout="row"> <!--  | sortBy:'desc':'timestamp' -->
      <button class="chat-button-menu" mat-icon-button (click)="onChatMenuButtonClick(c)"
              [matMenuTriggerFor]="chatMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <button class="chat-button" mat-raised-button (click)="onChatButtonClick(c)" fxFlex="1 0 0"
              [disabled]="c === chat()"
              [color]="c === chat() ? 'primary': ''"
              [matBadge]="c.stats.messages.new"
              [matBadgeHidden]="c.stats.messages.new === 0"
              matBadgePosition="after" matBadgeColor="accent"
              fxLayout="row" fxLayoutAlign="start center">
        <mat-icon [color]="getColor(c)" [innerText]="getIcon(c)"></mat-icon>
        <span>{{c.target().name}}</span>
      </button>
    </div>
  </div>

  <div class="users-list mat-app-background mat-elevation-z4"
       *ngIf="showUserList || !showRightPanel"
       [ngClass]="{'right-panel-show': showRightPanel, 'right-panel-hide': !showRightPanel}"
       fxLayout="column" fxLayoutAlign="stretch stretch">
    <div class="search-field"
         fxLayout="row" fxLayoutAlign="start stretch">
        <input type="text" placeholder="Cerca utente..."
               fxFlex="1 0 0"
               [(ngModel)]="userSearchValue"
               (input)="onUserSearchChange()"
               tabindex="0">
        <button mat-button *ngIf="userSearchValue"
                mat-icon-button aria-label="Clear"
                (click)="userSearchValue=''">
          <mat-icon>close</mat-icon>
        </button>
    </div>
    <cdk-virtual-scroll-viewport *ngIf="chat().hasUsers()" #userListScrollView class="v-scroll"
                                 itemSize="38" minBufferPx="200" maxBufferPx="400">
      <button mat-button class="user" [ngClass]="{ 'is-away': u.away }"
              *cdkVirtualFor="let u of chat().users"
              (click)="onUserClick(userMenu, u)"
              [matMenuTriggerFor]="userMenu"
              fxLayout="row" fxLayoutAlign="start center">
        <mat-icon [color]="u.color" [innerText]="u.icon"></mat-icon>
        <span [innerText]="u.name"></span>
        <mat-icon *ngIf="u.hasPlaylist()">music_video</mat-icon>
      </button>
    </cdk-virtual-scroll-viewport>
  </div>

  <mat-menu #userMenu="matMenu" xPosition="after">
    <div class="user-menu-title" *ngIf="currentUser">{{currentUser.name}}</div>
    <!-- open a chat with this user -->
    <button mat-menu-item (click)="onUserMenuChat()">
      <mat-icon color="primary">message</mat-icon>
      <span>Chat</span>
    </button>
    <!-- collection of media links shared by the user -->
    <a *ngIf="currentUser && currentUser.playlist.length > 0"
            mat-menu-item
            [disabled]="!currentUser.hasPlaylist()"
            (click)="onUserPlaylistClick(currentUser)">
      <mat-icon [color]="currentUser.playlist.length > 0 ? 'primary' : ''">library_music</mat-icon>
      <span>Playlist</span>
      <span>&nbsp;({{currentUser.playlist.length}})</span>
    </a>
    <!-- turn on/off notifications for messages from this user -->
    <button mat-menu-item disabled>
      <mat-icon>notifications_off</mat-icon>
      <span>Disattiva notifiche</span>
    </button>
  </mat-menu>


  <mat-menu #chatMenu="matMenu" xPosition="after">
      <div class="user-menu-title" *ngIf="currentMenuChat">{{ currentMenuChat.info.name }}</div>
      <button *ngIf="currentMenuChat == null || !currentMenuChat.hasUsers()" mat-menu-item (click)="onCloseChatClick(currentMenuChat)">
        <mat-icon color="primary">close</mat-icon>
        <span>Chiudi</span>
      </button>
      <button *ngIf="currentMenuChat != null && currentMenuChat.hasPlaylist()" mat-menu-item (click)="onCloseChatClick(currentMenuChat)">
        <mat-icon color="primary">music_video</mat-icon>
        <span>Playlist</span>
        <span>&nbsp;({{currentMenuChat.playlist.length}})</span>
      </button>
      <button *ngIf="currentMenuChat == null || currentMenuChat.hasUsers()" mat-menu-item (click)="showChatUsers()">
        <mat-icon color="primary">people_alt</mat-icon>
        <span>Elenco utenti</span>
      </button>
      <!-- turn on/off notifications for messages from this user -->
      <button mat-menu-item disabled>
        <mat-icon>notifications_off</mat-icon>
        <span>Disattiva notifiche</span>
      </button>
  </mat-menu>

</div>

<div class="input-bar mat-app-background mat-elevation-z6"
     [ngClass]="{ 'full-width': screenWidth < 640 || !showRightPanel }"
     fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="8px">

  <mat-form-field style="width: 100%">
    <textarea matInput placeholder="{{ircClient.config.nick}}  &rarr;  {{chat().info.name}}" class="message-input"
          maxlength="300"
          fxFlex="1 1 100%"
          [(ngModel)]="userMessage"
          (keydown.enter)="onEnterKey($event)"
          (blur)="onTextInputBlur($event)"
          (focus)="onTextInputFocus($event)"
          #messageInput></textarea>
    <button mat-icon-button *ngIf="!deviceService.isMobile()">
      <mat-icon color="primary" (click)="onOpenEmojiClick($event)">sentiment_satisfied_alt</mat-icon>
    </button>
    <button mat-icon-button fxAlign="end" (click)="onEnterKey($event)">
      <mat-icon color="primary">send</mat-icon>
    </button>
  </mat-form-field>

</div>
