.video-frame {
  display: block;
  position: absolute;
  right: 137px; top: -61px;
  height: 56px; width: 100px;
  overflow: hidden;
  z-index: 100;
  border: solid 1px rgba(255, 255, 255, 0.5);
}
.overlay {
  display: block;
  position: absolute;
  top:0; left: 0; right: 0; bottom: 0;
  z-index: 100;
  background: transparent;
}
.hidden {
  display: none;
}
