<h2 mat-dialog-title class="title theme-color-primary">
  <mat-icon>music_video</mat-icon>
  Video condivisi
</h2>
<mat-dialog-content class="content">
  <div *ngFor="let user of users | callback: filterCallback">
    <h3 class=" theme-color-accent">
      {{user.name}}
    </h3>
    <div *ngFor="let media of user.playlist" fxLayout="row" fxLayoutAlign="start stretch">
      <img class="media-image" [src]="media.thumbnail_url" height="56"/>
      <span class="media-title" fxFlex="1 1 0">{{media.title}}</span>
      <div fxLayout="column" fxLayoutAlign="center center">
        <button mat-icon-button [mat-dialog-close]="media">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <!--
        <button mat-icon-button>
          <mat-icon>link</mat-icon>
        </button>
        -->
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Chiudi</button>
</mat-dialog-actions>
