<h2 mat-dialog-title class="title" fxLayout="row" fxLayoutAlign="start center">
  <span fxFlex="1 0 0">Elenco Gruppi</span>
  <mat-icon>people</mat-icon>
</h2>
<mat-dialog-content class="content">
  <mat-progress-bar *ngIf="isLoadingData" mode="buffer"></mat-progress-bar>
  <div *ngFor="let channel of channelList">
    <div class="row"
         [mat-dialog-close]="channel.name"
         fxLayout="row" fxLayoutAlign="start center" matRipple>
      <strong fxFlex="1 0 0">{{ channel.name }}</strong>
      <span>{{channel.users}}</span>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <mat-icon>search</mat-icon>
  <mat-form-field fxFlex="1 0 0">
    <input matInput type="text" placeholder="Cerca..." [(ngModel)]="searchFilter">
    <button mat-button *ngIf="searchFilter" matSuffix mat-icon-button aria-label="Clear" (click)="searchFilter=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div fxFlexFill>
    <button mat-button mat-dialog-close cdkFocusInitial>Chiudi</button>
  </div>
</mat-dialog-actions>
