<mat-sidenav-container [hasBackdrop]="false" class="container">

  <mat-sidenav-content>

    <div class="content" fxLayout="column" fxLayoutAlign="start stretch">

      <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center" class="mat-elevation-z4">
        <button mat-flat-button color="primary" class="menu-button" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span>{{ chatManager && chatManager.chat().target().name || 'NgWebIRC' }}</span>
          <span *ngIf="chatManager && chatManager.chat().stats.messages.new > 0">{{ chatManager.chat().stats.messages.new }}</span>
        </div>
        <span class="flex-fill"></span>
        <div class="right-toolbar">
          <button mat-icon-button *ngIf="chatManager.chat().hasUsers()" class="icon-big"
                  (click)="chatManager.showChatUsers()"
                  [matBadge]="chatManager.chat().users.length"
                  matBadgePosition="after" matBadgeColor="primary">
            <mat-icon>people_alt</mat-icon>
          </button>
          <button mat-icon-button class="icon-big"
                  (click)="chatManager.showChatList()"
                  [matBadge]="chatManager.newMessageCount()"
                  [matBadgeHidden]="chatManager.newMessageCount() === 0 || (!chatManager.showUserList && chatManager.showRightPanel)"
                  matBadgePosition="after" matBadgeColor="accent">
            <mat-icon>forum</mat-icon>
          </button>
        </div>
      </mat-toolbar>

      <app-chat-manager #chatManager></app-chat-manager>

    </div>

  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="side" opened="false" position="start">

    This panel will host the media player for displaying the selected user playlist

    <div *ngFor="let media of mediaUrlsCache">{{ media.title }}</div>

  </mat-sidenav>

</mat-sidenav-container>


