<app-splash-screen *ngIf="!isUserLogged"
  (connectRequest)="onConnectRequest($event)"></app-splash-screen>

<div *ngIf="isUserLogged" class="container" fxLayout="column" fxLayoutAlign="start stretch" [ngStyle]="{'height.px': screenHeight}">

  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
    <button mat-flat-button color="primary" class="menu-button" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div fxLayout="row" fxLayoutAlign="center center" class="title" fxFlex="1 0 0">
      <span class="title-text">{{ chatManager && chatManager.chat().target().name || 'NgWebIRC' }}</span>
    </div>
    <div class="right-toolbar">
      <button mat-icon-button class="icon-big" *ngIf="mediaPlaylistCount > 0"
              matTooltip="Video condivisi"
              (click)="onChannelPlaylistButtonClick(chatManager)"
              [matBadge]="mediaPlaylistCount"
              matBadgePosition="after" matBadgeColor="primary">
        <mat-icon [color]="this.mediaPlaylistNotify ? 'accent' : ''">music_note</mat-icon>
      </button>
      <button mat-icon-button class="icon-big" *ngIf="chatManager.channel()"
              matTooltip="Utenti"
              (click)="onChannelUsersButtonClick(chatManager)"
              [matBadge]="chatManager.channel().users.length"
              matBadgePosition="after" matBadgeColor="primary">
        <mat-icon>people_alt</mat-icon>
      </button>
      <button mat-icon-button class="icon-big"
              matTooltip="Messaggi"
              (click)="onChatMessagesButtonClick(chatManager)"
              [matBadge]="chatManager.newMessageCount()"
              [matBadgeHidden]="chatManager.newMessageCount() === 0 || (!chatManager.showUserList && chatManager.showRightPanel)"
              matBadgePosition="after" matBadgeColor="accent">
        <mat-icon>forum</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container [hasBackdrop]="screenWidth < sideOverBreakPoint">

    <mat-sidenav-content>

      <div class="content" fxLayout="column" fxLayoutAlign="start stretch">

        <app-chat-manager #chatManager (chatLoading)="onChatLoading($event)"></app-chat-manager>

      </div>

    </mat-sidenav-content>

    <mat-sidenav #sidenav class="left-panel mat-elevation-z3"
                 [mode]="screenWidth < sideOverBreakPoint ? 'over' : 'side'"
                 [opened]="screenWidth > 1024 ? true : false" position="start"
                 fxLayout="column">

      <h4>{{ chatManager.client().config.nick }}</h4>

      <button mat-flat-button [disabled]="!chatManager.isLoggedIn" (click)="onNickChangeClick(chatManager)">
        <mat-icon color="primary">autorenew</mat-icon>
        <span>Cambia nome</span>
      </button>

      <button mat-flat-button [disabled]="!chatManager.isLoggedIn" (click)="onUserActionClick(chatManager)">
        <mat-icon color="primary">announcement</mat-icon>
        <span>Azione</span>
      </button>

      <mat-checkbox [checked]="isUserAway" [disabled]="!chatManager.isLoggedIn"
                    (change)="onSetAwayClick($event, chatManager)">Assente</mat-checkbox>

      <button *ngIf="chatManager.client().isConnected()" mat-flat-button (click)="onDisconnectClick(chatManager)">
        <mat-icon color="warn">exit_to_app</mat-icon>
        <span>Disconnetti</span>
      </button>
      <button *ngIf="!chatManager.client().isConnected()" mat-flat-button (click)="onConnectClick(chatManager)">
        <mat-icon color="accent">offline_bolt</mat-icon>
        <span>Connetti</span>
      </button>

      <label>Preferenze interfaccia</label>

      <mat-checkbox [disabled]="chatManager.channel() == null"
                    [checked]="chatManager.channel() && chatManager.channel().preferences.showChannelActivity"
                    (change)="onShowJoinPartsChange($event, chatManager)">Mostra in/out</mat-checkbox>
      <mat-checkbox disabled>Tema scuro</mat-checkbox>

    </mat-sidenav>

  </mat-sidenav-container>

</div>

<div class="loading-message" *ngIf="isLoadingChat" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner>Loading</mat-spinner>
</div>
