:host {
  display: block;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

.flex-fill {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.right-toolbar {
  padding-right: 8px;

  .mat-icon-button {
    height:48px !important;
    width:48px !important;
    margin-left: 64px;
  }
  .mat-icon {
    height: 36px;
    width: 36px;
    font-size: 36px;
  }
  .mat-icon-button .mat-icon, .mat-icon-button i {
    line-height: 36px;
  }
  .mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -3px !important;
  }

}

mat-sidenav {
  width: 200px;
}
/*
mat-sidenav {
  height: 100vh;
  max-height: 100vh;
}
*/
mat-sidenav-content {
  height: 100vh;
  max-height: 100vh;
}

mat-drawer-content {
  margin-left: 200px;
}
.mat-drawer-side.mat-drawer-end {
  border: 0;
}
.drawer-title {
  background: #3f51b5;
  height: 64px;
  margin-bottom: 16px;
}

.menu-button {
  transform: translateX(-16px);
}
