.container {
  display: block;
  width: 100vw;
  height: 100vh;
}

mat-sidenav {
  width: 200px;
}
mat-drawer-content {
  margin-left: 200px;
}
.mat-drawer-side.mat-drawer-end {
  border: 0;
}
.drawer-title {
  background: #3f51b5;
  height: 64px;
  margin-bottom: 16px;
}

.chat-button {
  margin-top: 16px;
  padding-left: 14px;
  padding-right: 18px;
}
.chat-button > button {
  width: 100%;
  text-align: start;
}
.menu-button {
  transform: translateX(-16px);
}
.toolbar-buttons {
  position: fixed;
  right: 0;
  top:0;
  display: block;
  background: #3f51b5;
  color: white;
  height: 64px;
  padding-right: 8px;
}
.toolbar-buttons button {
  width: 56px;
  height: 56px;
}
.users-list {
  padding: 12px;
  overflow: hidden;
  overflow-y: auto;
}
.users-list button {
  width: 100%;
  text-align: start;
}
.conversations-list {
  height: calc(100vh - 64px);
  overflow: hidden;
  overflow-y: auto;
}


.user-menu-title {
  font-weight: 700;
  font-size: 14px;
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.hidden {
  display: none;
}
