<h2 mat-dialog-title class="title theme-color-primary">
  <mat-icon>music_video</mat-icon>
  <span i18n="@@searchVideo">Search video</span>
  <button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content class="content">
  <div *ngFor="let media of searchResults" fxLayout="column" fxLayoutAlign="start stretch" class="media-container">
    <div fxLayout="row" fxLayoutAlign="start stretch">
      <img class="media-image" [src]="media.thumbnails.default.url" height="56"/>
      <span class="media-title" fxFlex="1 1 0">{{media.title}}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="end start" class="media-actions">
      <button mat-icon-button [mat-dialog-close]="{action:'play',media: media}">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button [mat-dialog-close]="{action:'share',media: media}">
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </div>
  <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div fxFlexFill fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field fxFlex="1 0 0">
      <input matInput cdkFocusInitial type="text"
             placeholder="Author, title" i18n-placeholder="@@authorAndTitle"
             tabindex="0" autofocus
             (keydown.enter)="onSearchClick($event)"
             [(ngModel)]="searchText" #searchInput="ngModel" #inputElement required [minlength]="minLength">
      <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''; searchResults = [];">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="searchInput.invalid" i18n="@@enterAtLeast3Characters">
        Enter at least 3 characters.
      </mat-error>
    </mat-form-field>
    <button mat-icon-button (click)="onSearchClick($event)">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</mat-dialog-actions>
