<div class="container" fxLayout="column" fxLayoutAlign="end" fxLayoutJustify="stretch">

  <div class="message-buffer"
       detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="96" [topOffset]="16"
       fxLayout="column"
       fxLayoutJustify="stretch"
       #chatBuffer>

    <ng-container *ngIf="boundChat">

      <div *ngFor="let msg of boundChat.messages; let i = index; let count = count">

        <div *ngIf="!isLastMessageVisible && boundChat.stats.messages.new > 0 && count - i === boundChat.stats.messages.new"
             style="border-bottom: 2px solid red; display:block; width: 100%; height: 2px;margin-bottom: 4px; margin-top: 4px;"></div>

        <!-- message sender -->
        <div class="message-sender"
              *ngIf="i == 0 || boundChat.messages[i - 1].sender !== msg.sender"
              fxLayout="row" fxLayoutAlign="start center">

          <span [innerHTML]="msg.sender" [ngClass]="{'local-user': msg.isLocal}"
                [matMenuTriggerFor]="boundChat.manager().userMenu"
                (click)="boundChat.manager().onUserClick(boundChat.manager().userMenu, boundChat.getUser(msg.sender))"></span>

          <mat-icon *ngIf="boundChat.hasUsers()"
                    [color]="boundChat.getUser(msg.sender) ? boundChat.getUserColor(msg.sender) : 'accent'"
                    [innerText]="boundChat.getUser(msg.sender) ? boundChat.getUserIcon(msg.sender) : 'arrow_back'"></mat-icon>

        </div>
        <!-- message body -->
        <div class="message-body" [innerHTML]="msg.formatted | safe: 'html'" (click)="onMessageClick($event)"></div>
      </div>

      <div *ngIf="!isLastMessageVisible && boundChat.stats.messages.new > 0"
           class="message-notification mat-elevation-z5"
           (click)="scrollLast(true, true)"
           fxLayout="row" fxLayoutAling="center center">
        <mat-icon>arrow_downward</mat-icon>
        <span>{{boundChat.stats.messages.new}} new messages!</span>
        <mat-icon>arrow_downward</mat-icon>
      </div>

    </ng-container>

  </div>

</div>
