.container {
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  padding-left: 8px;
}

.message-buffer {
  display: block;
  overflow-y: scroll;
  padding: 8px;
  background: black;
  font-family: monospace;
  font-size: 140%;
  color: white;
}
.message-buffer:first-child {
  display: block;
  margin-top: auto;
}

.message {
  display: block;
}
.message-sender {
  padding-top: 16px;
  padding-bottom: 4px;
  color: lime;
  font-weight: 800;
  opacity: 0.65;
}
.message-body {
  line-height: 150%;
  vertical-align: middle;
  word-break: break-word;
}

@media only screen and (max-device-width: 1024px) {
  /* Styles */
  .container {
    padding-left: 0;
  }
}
