<div class="container" fxLayout="column" fxLayoutAlign="end" fxLayoutJustify="stretch">

  <div class="message-buffer"
       fxLayout="column"
       fxLayoutJustify="stretch"
       #chatBuffer>

    <ng-container *ngIf="boundChat">

      <div *ngFor="let msg of boundChat.messages; let i = index; let count = count;">
        <div class="message-sender" *ngIf="i == 0 || boundChat.messages[i - 1].sender !== msg.sender">
          <span>{{msg.sender}}</span>
        </div>
        <span class="message-body">{{msg.message}}</span>
      </div>

    </ng-container>

  </div>

  <!--div>
    <emoji-mart (emojiClick)="onAddEmoji($event.emoji)"
                title="Pick your emoji…" emoji="point_up"
                set="google"
                hideObsolete="true"
                skin="3"></emoji-mart>
  </div-->

  <mat-form-field class="message-input">
    <input matInput placeholder="Enter message"
           [(ngModel)]="userMessage"
           (keydown.enter)="onEnterKey($event)">
  </mat-form-field>

</div>
