@import '../../../_variables.scss';

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: 8px;
}

.mat-menu-trigger {
  cursor: pointer;
}

.message-buffer {
  display: block;
  overflow-y: auto;
  padding: 8px;
  font-size: 120%;
}
.message-buffer:first-child {
  display: block;
  margin-top: auto;
}

.message {
  display: block;
}
.message-sender {
  color: $primary;
  margin-top: 24px;
  font-weight: 600;
}
.message-sender mat-icon {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 80%;
  line-height: 120%;
  opacity: 0.5;
}
.message-sender span {
  word-break: keep-all;
  white-space: nowrap;
  font-weight: 600;
  margin-right: 6px;
  cursor: pointer;
}
.message-body {
  font-family: 'Delius', monospace;
  line-height: 150%;
  vertical-align: middle;
  word-break: break-word;
}
.local-user {
  text-decoration: underline;
  font-weight: bolder;
  opacity: 0.5;
}

.message-date {
  padding: 4px;
  margin-left: 8px;
  font-size: 75%;
  font-family: monospace;
  opacity: 0.3;
  width: 100%;
  text-align: right;
}

.message-notification {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: $primary;
  color: white;
  right: 0;
  left: 0;
  width: 320px;
  font-size: 16px;
  border-radius: 12px;
  margin-bottom: 24px;
  padding: 6px;
  cursor: pointer;
}

.message-notification mat-icon {
  margin-left: 32px;
  margin-right: 32px;
}

@media only screen and (max-device-width: 1023px) {
  /* Styles */
  .container {
    padding-left: 0;
  }
  .message-sender {
    margin-top: 16px;
  }
}
