<div class="top-shadow mat-elevation-z4"></div>
<div class="container" fxLayout="column" fxLayoutAlign="end" fxLayoutJustify="stretch">
  <div class="message-buffer"
       detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="96" [topOffset]="16"
       fxLayout="column"
       fxLayoutJustify="stretch"
       #chatBuffer>

    <ng-container *ngIf="boundChat">

      <div *ngFor="let msg of boundChat.messages; let i = index; let count = count">

        <div *ngIf="!isLastMessageVisible && boundChat.stats.messages.new > 0 && count - i === boundChat.stats.messages.new"
             style="border-bottom: 2px solid red; display:block; width: 100%; height: 2px;margin-bottom: 4px; margin-top: 4px;"></div>

        <!-- ACTION MESSAGE -->
        <ng-container *ngIf="msg.type === MessageType.ACTION">
          <!-- message sender and action -->
          <div class="message-sender margin-top action"
               [ngClass]="{ 'margin-bottom': i === 0 || i === boundChat.messages.length - 1 || boundChat.messages[i + 1].type !== MessageType.MESSAGE }"
               fxLayout="row" fxLayoutAlign="center center">

            <mat-icon class="icon theme-color-notice">announcement</mat-icon>

            <span [innerHTML]="msg.sender" [ngClass]="{'local-user': msg.isLocal}"
                  [matMenuTriggerFor]="boundChat.manager().userMenu"
                  (click)="boundChat.manager().onUserClick(boundChat.manager().userMenu, boundChat.getUser(msg.sender))"></span>

            <span class="message" [innerHTML]="msg.rendered.message"></span>

            <!-- message timestamp -->
            <div class="message-date">{{getTimeStamp(boundChat.messages, i) | date: 'mediumTime' : '' : 'en-US'}}</div>

          </div>
        </ng-container>

        <!-- JOIN/PART/KICK MESSAGE -->
        <ng-container *ngIf="isServiceMessage(msg) && boundChat.preferences.showChannelActivity">
          <!-- message sender and action -->
          <div class="message-sender service"
               [ngClass]="{ 'margin-top': i === 0 || boundChat.messages[i - 1].type === MessageType.MESSAGE }"
               fxLayout="row" fxLayoutAlign="start center">

            <mat-icon *ngIf="msg.type === MessageType.JOIN" class="icon theme-color-positive">arrow_forward</mat-icon>
            <mat-icon *ngIf="msg.type === MessageType.PART" class="icon theme-color-negative">arrow_back</mat-icon>
            <mat-icon *ngIf="msg.type === MessageType.KICK" class="icon theme-color-negative">close</mat-icon>
            <mat-icon *ngIf="msg.type === MessageType.QUIT" class="icon theme-color-negative">arrow_back</mat-icon>

            <span [innerHTML]="msg.sender" [ngClass]="{'local-user': msg.isLocal}"
                  [matMenuTriggerFor]="boundChat.manager().userMenu"
                  (click)="boundChat.manager().onUserClick(boundChat.manager().userMenu, boundChat.getUser(msg.sender))"></span>

            <span class="message info" title="{{ msg.data.description }}">
            {{ msg.rendered.message }}
            </span>

            <!-- message timestamp -->
            <div class="message-date">{{getTimeStamp(boundChat.messages, i) | date: 'mediumTime' : '' : 'en-US'}}</div>

          </div>
        </ng-container>

        <!-- PRIVMSG MESSAGE -->
        <ng-container *ngIf="msg.type === MessageType.MESSAGE">
          <!-- message sender -->
          <div class="message-sender theme-color-primary margin-top"
               *ngIf="i === 0 || boundChat.messages[i - 1].sender !== msg.sender || boundChat.messages[i - 1].type !== msg.type"
               fxLayout="row" fxLayoutAlign="start center">

            <span [innerHTML]="msg.sender" [ngClass]="{'local-user': msg.isLocal}"
                  [matMenuTriggerFor]="boundChat.manager().userMenu"
                  (click)="boundChat.manager().onUserClick(boundChat.manager().userMenu, boundChat.getUser(msg.sender))"></span>
            <mat-icon *ngIf="msg.rendered.flagsIconName" class="icon"
                      [color]="msg.rendered.flagsIconColor">{{msg.rendered.flagsIconName}}</mat-icon>
            <mat-icon *ngIf="msg.rendered.musicIcon" class="icon">{{msg.rendered.musicIcon}}</mat-icon>

            <!-- message timestamp -->
            <div class="message-date">{{getTimeStamp(boundChat.messages, i) | date: 'mediumTime' : '' : 'en-US'}}</div>
          </div>

          <!-- message body -->
          <div class="message-body" [innerHTML]="msg.rendered.message | safe: 'html'" (click)="onMessageClick($event)"></div>
        </ng-container>

      </div>

      <div *ngIf="!isLastMessageVisible && boundChat.stats.messages.new > 0"
           matRipple
           class="message-notification theme-background-accent mat-elevation-z5"
           (click)="scrollLast(true, true)"
           fxLayout="row" fxLayoutAling="center center">
        <mat-icon>arrow_downward</mat-icon>
        <span fxFlex="1 0 0">nuovi messaggi</span>
        <mat-icon>arrow_downward</mat-icon>
      </div>

    </ng-container>

  </div>

</div>
