@import '../../../_variables.scss';

.container {
  background-color: #fffadc;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: 8px;
}

.top-shadow {
  position: absolute;
  height: 48px;
  top:-48px;
  width: 100%;
  z-index: 10;
}

.mat-menu-trigger {
  cursor: pointer;
}

.message-buffer {
  display: block;
  overflow-y: auto;
  padding: 8px;
  font-size: 120%;
}
.message-buffer:first-child {
  display: block;
  margin-top: auto;
}

.margin-top {
  margin-top: 24px !important;
}
.margin-bottom {
  margin-bottom: 24px !important;
}

.message {
  display: block;
}
.message-sender {
  color: $primary;
  font-weight: 600;
}
.message-sender .icon {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 80%;
  line-height: 120%;
  opacity: 0.5;
}
.message-sender span {
  word-break: keep-all;
  white-space: nowrap;
  font-weight: 600;
  margin-right: 6px;
  cursor: pointer;
}
.message-sender .info {
  cursor: help;
}

/* ACTION MESSAGE */
.message-sender.action .message {
  font-weight: 400 !important;
}
.message-sender.action .icon {
  color: $notice;
  margin-left: 0 !important;
  margin-right: 8px !important;
  margin-bottom: 4px;
  font-size: 120% !important;
  line-height: 120% !important;
  opacity: 1 !important;
}



/* JOIN/PART MESSAGE */
.message-sender.service {
  color: initial;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  opacity: 0.25;
  font-size: 80%;
}
.message-sender.service .message {
  font-weight: 400 !important;
}
.message-sender.service .icon {
  margin-left: 0 !important;
  margin-right: 8px !important;
  margin-bottom: 4px;
  font-size: 120% !important;
  font-weight: 800;
  line-height: 150% !important;
  opacity: 1 !important;
}
.message-sender .icon.enter {
  color: $positive;
}
.message-sender .icon.exit {
  color: $negative;
}
.message-sender.service .message-date {
  font-size: 95%;
  opacity: 0.5;
}



.message-body {
  font-family: 'Delius', monospace;
  line-height: 150%;
  vertical-align: middle;
  word-break: break-word;
}

.local-user {
  text-decoration: underline;
  font-weight: bolder;
  opacity: 0.5;
}

.message-date {
  padding: 4px;
  margin-left: 8px;
  font-size: 75%;
  font-family: monospace;
  opacity: 0.3;
  width: 100%;
  text-align: right;
}

.message-notification {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: $primary;
  color: white;
  right: 0;
  left: 0;
  width: 320px;
  font-size: 16px;
  border-radius: 12px;
  margin-bottom: 24px;
  padding: 6px;
  cursor: pointer;
}

.message-notification mat-icon {
  margin-left: 32px;
  margin-right: 32px;
}

@media only screen and (max-device-width: 1023px) {
  /* Styles */
  .container {
    padding-left: 0;
  }
  .margin-top {
    margin-top: 16px !important;
  }
  .margin-bottom {
    margin-bottom: 16px !important;
  }
}
