/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

// fonts
@import url('https://fonts.googleapis.com/css?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:400,600&display=swap');

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Hind Madurai'
);
@include mat-core($custom-typography);

@import '_variables.scss';

// other imports
@import '~@ctrl/ngx-emoji-mart/picker';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Hind Madurai', Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: $accent;
  text-decoration: none;
}

.emoji-dialog-container .mat-dialog-container {
  padding: 0;
}
