/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

/*@import url('https://fonts.googleapis.com/css?family=Nova+Mono&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap&subset=latin-ext');*/
/*@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap&subset=latin-ext');*/


@import "themes/material-theme";


// other imports
@import '~@ctrl/ngx-emoji-mart/picker';

html, body {
  height: 100%;
  overscroll-behavior-y: contain;
}
body {
  margin: 0;
  font-family: 'Hind Madurai', Roboto, "Helvetica Neue", sans-serif;
}

snack-bar-container {
  margin-top: 72px !important;
  margin-bottom: 72px !important;
}

a {
  color: $accent;
  text-decoration: none;
}

.emoji-dialog-container .mat-dialog-container {
  padding: 0;
}

*:focus {
  outline: none;
}

.mention-container {
  z-index: 100;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 292px;
  margin-left: -110px;
  width: 0;
  height: 0;
  .tribute-container {
    background: white;
    border-radius: 12px;
    box-shadow: 1px 1px 6px 2px rgba(220, 220, 200, 0.5);
    overflow: hidden;
    overflow-y: scroll;
    width: 220px;
    height: 160px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      padding-left: 16px;
      padding-right: 16px;
      white-space: nowrap;
      overflow: hidden;
    }
    li.highlight {
      background-color: yellow;
    }
  }
}
